<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title><%=((typeof titulo === "undefined" || !titulo) ? "Gamificação TECH" : (titulo + " - Gamificação TECH"))%></title>

        <%- include("cabecalho") %>

        
    </head>
    <body>

        
        <div id="page-wrapper">

            <%- body %>

        </div>
        

        <%- include("rodape") %>
        <%- defineContent("scripts") %>

    </body>
</html>